/* =======================
    ESTILOS GENERALES
======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f3f3;
    color: #333;
    padding: 20px;
}

/* =============
    HEADER
============= */

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #222;
}

/* ===========================
   FORMULARIO AGREGAR TAREA
=========================== */

#form-tarea {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#form-tarea input,
#form-tarea select {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#form-tarea button {
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-tarea button:hover {
    background: #0059c9;
}

/* ==================
   LISTA DE TAREAS
================== */

.tarea {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 12px;
}

.tarea h3 {
    margin-bottom: 5px;
}

.tarea button {
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Botón editar */
.btn-editar {
    background: #ffaa00;
    color: #333;
    margin-right: 10px;
}

.btn-editar:hover {
    background: #e69900;
}

/* Boton-eliminar */
.btn-eliminar {
    background: #ff4d4d;
    color: white;
}

.btn-eliminar:hover {
    background: #cc0000;
}

/* ===============
   MODAL EDITAR
================*/

#modal-editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    justify-content: center;
    align-items: center;
    display: none;
}

#modal-editar.activo {
    display: flex;
}

.modal-contenido {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}

.modal-contenido h3 {
    margin-bottom: 15px;
}

.modal-contenido input,
.modal-contenido select {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.modal-contenido button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Botón guardar */
#form-editar button[type="submit"] {
    background: #0077ff;
    color: white;
}

#form-editar button[type="submit"]:hover {
    background: #0059c9;
}

/* Botón cancelar */
#cancelar-edicion {
    background: #aaa;
    color: black;
}

#cancelar-edicion:hover {
    background: #888;
}